{% capture description %}  
  {%- if product.empty? -%}
    {{ 'home_page.onboarding.product_description' | t }}
  {%- else -%}
    {% if product_descriptions.size > 1 and product_descriptions[0] != blank %}
      {{product_descriptions[0]}}
    {% else %}  
      {{ product.description }}
    {% endif %} 
  {%- endif -%}
{% endcapture %}
{%- if is_tab -%}
  {% assign title = 'products.product.description' | t %}
  {%- render 'tab', id: id, title: title, content: description -%}
{%- else -%}
  <div class="rte">
    {{ description }}
  </div>
{%- endif -%}
